.root {
  @apply relative;
  max-height: 100% !important;

  &:hover {
    & .productBg:before {
      transform: scale(0.99);
    }

    & .productImage {
    }
  }

  /* &:nth-child(6n + 1) .productBg {
    @apply ;
  } */

  &:nth-child(6n + 3) .productBg {
    @apply bg-pink;
  }

  &:nth-child(6n + 5) .productBg {
    @apply bg-blue;
  }

  &:nth-child(6n + 6) .productBg {
    @apply bg-cyan;
  }
}

.productImage {
  @apply transition-transform duration-500 rounded-lg;
}

.productBg {
  @apply absolute inset-0 z-0;
  background-color: #212529;

  &:before {
    @apply transition-transform duration-500 block  bg-repeat-space;
    content: "";
  }
}

.productTag {
  @apply absolute top-0 left-0 z-20;

  & > * {
    font-size: 2rem;
    letter-spacing: 0.4px;
  }
}

.productTitle {
  @apply font-bold pb-80;
  line-height: 2.2em;

  & span {
    @apply py-4 px-6;
    box-decoration-break: clone;
  }
}

.productPrice {
  @apply bg-primary pl-2  pb-2 pt-2 px-2 font-semibold text-sm;
  letter-spacing: 0.4px;
}
